<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Générateur de mot de passe avec Django</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  </head>
  <body>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#button').click(function() {
              checked = $("input[type=checkbox]:checked").length;
        
              if(!checked) {
                alert("Vous devez sélectionner au moins un choix");
                return false;
              }
        
            });
        });
    </script>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
    
    <div class="centrer">
        <fieldset>
            <legend class="legend">Générateur de mots de passe avec Django</legend>
            <table>
                <div class="boite">
                    <form action="{% url 'password' %}">
                        <div class="checkbox-label">
                            <label for="longueur">Longueur du mot de passe</label>
                            <input name="longueur" value="16" type="number" min="6" max="24" />
                        </div>
                        <div class="checkbox-label">
                            <label for="majuscules">Lettres en majuscule</label>
                            <input name="majuscules" type="checkbox" checked />
                        </div>
                        <div class="checkbox-label">
                            <label for="minuscules">Lettres en minuscule</label>
                            <input name="minuscules" type="checkbox" checked />
                        </div>
                        <div class="checkbox-label">
                            <label for="chiffres">Chiffres</label>
                            <input name="chiffres" type="checkbox" checked />
                        </div>
                        <div class="checkbox-label">
                            <label for="symboles">Symboles</label>
                            <input name="symboles" type="checkbox" />
                        </div>
                        <button type="submit" class="button" id="button">Générer un mot de passe</button>
                    </form>
                </div>
            </table>
        </fieldset>
    </div>
</body>
</html>   